<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883165025703-jpd3gv840o8saptquj9tf945aclb0bo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883165025703-jpd3gv840o8saptquj9tf945aclb0bo1</string>
	<key>API_KEY</key>
	<string>AIzaSyBBkXzT0A8_NZsaZ8LcvQXhWxXHjirFKys</string>
	<key>GCM_SENDER_ID</key>
	<string>883165025703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emmasolis.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-92214</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-92214.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883165025703:ios:bb62a0831ff25f6f71d282</string>
</dict>
</plist>